{% extends "index.html" %}
{% load staticfiles %}

{% block head %}
    <style>
    .bground{
        background: lightgray;
        color: black;
    }
    @media screen and (max-width:500px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
         
        }
      }
      @media screen and (max-width:770px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
      
    </style>
{% endblock %}
{% block mycode %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto" style="box-shadow:0px 0px 20px black;margin-left:10%;margin-right:10%;background:cornsilk;">
                <div class="row" style="background:#D2691E;height:30px;color:white;">
                    <span style="margin-left:20px;">Salary Details</span>
                </div>
                <div class="row" style="margin-top:10px;">
                <div class="col-md-6" >
                        <div class='row'>
                            <div class='col-md-6'>
                                <select name="" id="month" class="form-control">
                                    <option>Month</option>
                                    <script>
                                        let month = new Date().getMonth();
                                        for(let i = 1; i<=month+1; i++){
                                            if(i<=9){
                                                document.write('<option>0'+i+'</option>');    
                                            }else{
                                                document.write('<option>'+i+'</option>');
                                            }
                                        }
                                    </script>
                                </select>
                            </div>
            <div class='col-md-6'>
                <select name="" id="year"  onchange="getattendance()" class="form-control">
                    <option>Year</option>
                    <option>2019</option>
                </select>
            </div>                
            </div>
                <div class='row' style="padding:15px;margin-top:20px; ">
                    <div class='col-md-6 bground visible'>
                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                         <span>Basic Salary</span>
                    </div><div class='col-md-6 visible'>
                        <span>{{details.basic_salary}}</span>
                    </div>
                </div>
            </div> 
            <div class="col-md-6" >
                    <div class='row' style="padding:15px;">
                        <div class='col-md-6 bground visible'>
                             <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                              <span>Effective Date</span>
                        </div><div class='col-md-6 visible'>
                              <span>{{details.date_of_joining}}</span>
                        </div>
                </div>
                </div>  
                <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                 <span>Deduction</span>
                            </div><div class='col-md-6 visible'>
                                 <span id="deduction"></span>
                            </div>
                         </div>
                     </div>  
                    <div class="col-md-6" >
                            <div class='row' style="padding:15px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Bonus</span>
                                </div><div class='col-md-6 visible'>
                                     <span>{{details.bonus}}</span>
                                </div>
                            </div>
                        </div>  
                            <div class="col-md-6" >
                                    <div class='row' style="padding:15px;">
                                        <div class='col-md-6 bground visible'>
                                            <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                            <span>Total</span>
                                        </div><div class='col-md-6 visible'>
                                            <span id='totalincome'></span>
                                        </div>
                                    </div>
                                </div> 
                </div>
                <div class="row" style="background:#D2691E;height:30px;color:white;margin-top:15px;">
                    <div class="col-md-12">
                        <span >Payment</span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                        <div class="col-md-6" >
                                <div class='row' style="padding:15px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Bank</span>
                                    </div><div class='col-md-6 visible'>
                                        <span>{{details.bank}}</span>
                                    </div>
                                </div>
                            </div>  
                <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Bank Account</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.bank_account}}</span>
                            </div>
                        </div>
                    </div> 
                <div class="col-md-6" >
                           <div class='row' style="padding:15px;">
                               <div class='col-md-6 bground visible'>
                                  <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                  <span style="font-size:15px">Payment Method</span>
                              </div><div class='col-md-6 visible'>
                                  <span>{{details.payment_method}}</span>
                              </div>
                          </div>
                      </div>  
                </div>
            </div>
        </div>
    </div>

    <script>
    function daysinmonth(year, month){
        return new Date(year, month, 0).getDate();
    }
    function getattendance(){
        let month = $('#month').val();
        let year = $('#year').val();
        let totalhours = 0;
        let totalworkingdays = 0;
        let totalpaydays = 0;
        let holidays = 0;
        if(month=='Month' && year=='Year'){
            alert('Please Choose month and year');
        }else{
            $.ajax({
                url:'{% url "myApp:getattendance" %}',
                type:'get',
                data:{year:year,month:month},
                success: function(data){
                    let days = daysinmonth(year, month);
                    let inner = '';
                    for(let p =1; p<=days;p++){
                        inner += '<tr>';
                        inner += "<td>"+p+"/"+month+"/"+year+"</td>";
                        let ddmatch = year + "-" + month + "-" + p;
                        let day = new Date(ddmatch).getDay();
                        let intime = 0;
                        let outtime = 0;
                        // console.log(ddmatch + " -- D : " + day);
                        if(day==0){
                            
                        }else if(day==6){

                        }else{
                            totalworkingdays++;
                        }
                        for(o in data){
                            if(data[o].date==ddmatch){
                                if(data[o].attendance_type=='checkin'){
                                    intime = data[o].time;
                                    intime = intime.split('.');
                                    intime = intime[0];
                                    console.log(intime);  
                                }

                                if(data[o].attendance_type=='checkout'){
                                    outtime = data[o].time;  
                                    outtime = outtime.split('.');
                                    outtime = outtime[0];
                                }
                            }
                        }
                        inner += "<td>"+intime+"</td>";
                        inner += "<td>"+outtime+"</td>";
                        
                        let timeStart = new Date(ddmatch +" "+ intime).getHours();
                        let timeEnd = new Date(ddmatch +" "+ outtime).getHours();
                        // console.log(day);
                        // totalhours = totalhours + hoursDiff; 
                        if(intime != 0 && outtime != 0){
                            let hourDiff = timeEnd - timeStart;
                            inner += "<td>"+hourDiff+"</td>";
                            if(hourDiff > 4 && hourDiff < 8){
                                totalpaydays = totalpaydays + 0.5;        
                                holidays = holidays + 0.5;
                            }else if(hourDiff >= 8){
                                totalpaydays = totalpaydays + 1;        
                            }
                        }else{
                            inner += "<td>0</td>";
                        }
                       
                        inner += "</tr>";
                    }
                    let salary = '{{details.basic_salary}}';
                    salary = parseInt(salary);
                    // console.log('Working days: ' + totalworkingdays);
                    // console.log('Pay days: ' + totalpaydays);
                    holidays = totalworkingdays - totalpaydays;
                    // console.log('Absent: ' + holidays);
                    // $('#records').html(inner);
                    let daysalary = salary / totalworkingdays;
                    
                    let totalsalary = Math.round(daysalary * totalworkingdays);
                    let deduction = Math.round(holidays * daysalary);
                    $('#deduction').html(deduction);
                    $('#totalincome').html(Math.round(daysalary * totalpaydays));
                }
            });
        }
    }
    </script>
{% endblock %}